body{
    
    background-color: lightblue;
}
main{
    background-color: white;
    min-width: 350px;
    max-width: 850px;    
    margin: auto;
    width: 600px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.caixa{
   align-items: center;
   margin-top: 50px;
   margin-bottom: 50px;
}
img{
    margin: 15px;
    border-radius: 15px;
}
.qr-code{
    text-align: center;
}
h1{
    text-align: center;
}
p{
    text-align: center;
    padding: 15px;
}